<html>

<head>
</head>

<body>
    <form action="/post" method="POST">
        <h1>Welcome {{username}}</h1>
        <input type="text" name="content name" placeholder="content name" required/> </br>
        <input type="text" name="filepath" placeholder="content location" required /> </br>
        <input type="text" name="post" placeholder="Public or Private" required/> </br>
        <input type="submit" value=Post />
    </form>

    <table>
        <h1>Pending Tags</h1>
        <th>Tagger</th>
        <th>content name</th>
        <th>Approve</th>
        <th>Deny</th>
        <th>Ignore</th>

        {% for line in pending_tags %}
        <tr>
            <td>{{line.username_tagger}}</td>
            <td>{{line.content_name}}</td>
            <td>
                <form action="/approve/{{username}}/{{line.username_tagger}}/{{line.id}}" method="POST">
                    <input type="submit" value=Approve />
                </form>
            </td>
            <td>
                <form action="/deny/{{username}}/{{line.username_tagger}}/{{line.id}}" method="POST">
                    <input type="submit" value=Deny />
                </form>
            </td>
            <td>
                <form action="/ignore/{{username}}/{{line.username_tagger}}/{{line.id}}" method="POST">
                    <input type="submit" value=Ignore />
                </form>
            </td>
            {% endfor %}
    </table>

    <h1>FriendGroups</h1>

    </table>

    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

    <table>
        <th>group_name</th>
        <th>description</th>
        <th>admin</th>
        <th>view</th>

        {% for line in friendGroup %}
        <tr>
            <td>{{line.group_name}}</td>
            <td>{{line.description}}</td>
            <td>{{line.username}}</td>
            <td>
                <form action="/viewFriendGroup/{{line.group_name}}" method="POST">
                    <input type="submit" value=View />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Create FriendGroup</h2>
    <form action="/addFriendGroup" method="POST">
        <input type="text" name="FirstName" placeholder="First Name" required/></br>
        <input type="text" name="LastName" placeholder="Last Name" required/></br>
        <input type="text" name="Friend Group" placeholder="Friend Group" required/></br>
        <input type="text" name="Description" placeholder="Description" required/></br>
        <input type="submit" value=Submit /> {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>

    <h1>Content Items</h1>
    <table>
        <th>Time</th>
        <th>Post Name</th>
        <th>username</th>
        <th>Type Comment</th>
        <th>Add Comment</th>
        <th>Like</th>
        <th>Number of likes</th>
        <th>View post
            <th>
                {% for line in content %}
                <tr>
                    <td>{{line.timest}}</td>
                    <td>{{line.content_name}}</td>
                    <td>{{line.username}}</td>
                    <form action="/addComment/{{line.id}}" method="POST">
                        <td><input type="text" name="comment" placeholder="Add Comment" required /> </br>
                        </td>
                        <td><input type="submit" value=Comment /></td>
                    </form>
                    <td>
                        <form action="/like/{{line.id}}" method="POST">
                            <input type="submit" value=Like />
                        </form>
                    </td>
                    <td>{{line.num}}</td>
                    <td>
                        <form action="/view/{{line.id}}" method="POST">
                            <input type="submit" value=View />
                        </form>
                    </td>
                </tr>
                {% endfor %}
    </table>

    <a href="/logout">Logout</a>

</body>


</html>
